analysis/.vscode/
analysis/eventDisplays/
analysis/eventDisplaysOld_Jan2026/
analysis/histogramsOld_Jan2026/
analysis/largeRJetNTuplePlots/
analysis/largeRJetPlots/
analysis/outputRootFiles/
analysis/overlayJZSliceHistograms/
analysis/overlayJZSliceHistogramsOld_Jan2026/
analysis/overlayLargeRJetHistograms/
analysis/overlayLargeRJetHistogramsOld_Jan2026/
analysis/overlayMultipleFiles/
analysis/overlayMultipleFilesOld_Jan2026/
analysis/rateVsEff/
analysis/rateVsEffOld_Jan2026/
analysis/largeRJetPlotterOutput.log
analysis/NTupler.log
analysis/.asetup.save
analysis/debug.log
analysis/sumOfWeights.txt
analysis/largeRJetAnalysisAndRates_C.d
analysis/largeRJetAnalysisAndRates_C.so
analysis/largeRJetAnalysisAndRates_C_ACLiC_dict_rdict.pcm
analysis/dummyfile.C
data/MemPrintsEmulation/
data/inputNTuples/
algorithm/emulation/debuglog.log
algorithm/emulation/LUT_Constants_Generation/LUTs/
algorithm/emulation/LUT_Constants_Generation/constants/
algorithm/emulation/LUT_Constants_Generation/debuglog.log
LRJ/