.vscode/
eventDisplays/
eventDisplaysOld_Jan2026/
histogramsOld_Jan2026/
largeRJetNTuplePlots/
largeRJetPlots/
outputRootFiles/
overlayJZSliceHistograms/
overlayJZSliceHistogramsOld_Jan2026/
overlayLargeRJetHistograms/
overlayLargeRJetHistogramsOld_Jan2026/
overlayMultipleFiles/
overlayMultipleFilesOld_Jan2026/
rateVsEff/
rateVsEffOld_Jan2026/
largeRJetPlotterOutput.log
NTupler.log
.asetup.save
debug.log
sumOfWeights.txt